version: '3.8'
services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - '3000:3000'
    depends_on:
      - backend
    environment:
      - NEXT_PUBLIC_API_URL=http://backend:3000
  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
    ports:
      - '4000:3000'
    depends_on:
      - db
    environment:
      - PORT=3000
      - DB_URL=postgresql://postgres:postgres@db:5432/demo
      - JWT_SECRET=super_secret_key
  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: demo
    volumes:
      - db_data:/var/lib/postgresql/data
volumes:
  db_data: